body {
    margin: 0;
    padding: 0;
    /* background-image: url("background watermark.png");
	background-repeat: no-repeat;
	background-size: contain; */
}

.navbar-light {
    background-color: #b3aeab !important;
}


.active {
    border-bottom: 5px solid red;
}

.nav-item,
.navbar-brand {
    color: black !important
}

.carousel-item {
    height: 80vh;
}



.box2{position:relative}
.box2 img{width:100%;height:auto}
.box2 .box-content{width:100%;height:100%;position:absolute;top:50%;left:50%;z-index:2;transform:translate(-50%,-50%)}
.box2 .box-content:after,.box2 .box-content:before,.box2:after,.box2:before{content:"";width:80%;height:80%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%) rotate(45deg);transition:all .5s ease 0s}
.box2:before{background:linear-gradient(45deg,rgba(0,0,0,.2) 49%,transparent 50%);left:-100%}
.box2:after{background:linear-gradient(45deg,transparent 49%,rgba(0,0,0,.2) 50%);left:160%}
.box2 .box-content:after,.box2 .box-content:before{width:65%;height:65%;background:linear-gradient(45deg,rgba(0,0,0,.3) 49%,transparent 50%);left:-100%;transition-delay:.1s}
.box1 .box-content:after{background:linear-gradient(45deg,transparent 49%,rgba(0,0,0,.3) 50%);left:160%}
.box2:hover .box-content:after,.box2:hover .box-content:before,.box2:hover:after,.box2:hover:before{left:50%}
.box2 .inner-content{width:50%;height:50%;color:#fff;padding:40px 0;position:absolute;top:50%;left:50%;z-index:2;transform:translate(-50%,-50%) scale(0);transition:all .3s ease .2s}
.box2 .inner-content:after{width:100%;height:100%;background:rgba(255,79,79,.8);position:absolute;top:50%;left:50%;z-index:-1;transform:translate(-50%,-50%) rotate(45deg)}
.box2:hover .inner-content{transform:translate(-50%,-50%) scale(1);transition:all .3s ease 0s}
.box2 .title{font-size:18px;font-weight:700;text-transform:uppercase;margin-bottom:5px}
.box2 .post{display:block;font-size:14px;text-transform:capitalize;margin-bottom:7px}
.box10 .title,.box11 .title,.box4 .title,.box5 .title,.box6 .box-content,.box7 .title{text-transform:uppercase}
.box2 .icon{padding:0;margin:0;list-style:none;transform:rotateY(360deg) scale(0);transition:all .3s ease 0s}
.box2:hover .icon{transform:rotateY(0) scale(1)}
.box2 .icon li{display:inline-block;margin:0 3px}
.box2 .icon li a{display:block;width:35px;height:35px;line-height:35px;background:#fff;font-size:16px;color:#505050;transition:all .3s ease 0s}
.box2 .icon li a:hover{box-shadow:0 0 0 5px rgba(0,0,0,.5);background:#fff;color:#ff4f4f}
@media only screen and (max-width:990px){.box2{margin-bottom:30px}
}
@media only screen and (max-width:320px){.box2 .inner-content{padding:25px 0}
.box2 .title{font-size:16px}
  }



.rel {
    position: relative;
}
.wrapper{
  z-index: 1;
}
.back-line {
    height: 10px;
    width: 85%;
    background-color: #fff;
    position: absolute;
    top: 34%;
    left: 6%;
    z-index: 0;
}

.hover__div {
    opacity: 0;
    visibility: hidden;
    height: 200px;
}

.hoverr:hover .box-item {
    opacity: 1;
    visibility: visible;
    transform: scale(1.1);
}

.img2,
.img5,
.img6 {
    position: relative;
    top: 20px !important;
}

.text-rel {
    position: relative;
    top: 8px;
}

.text-rel1 {
    position: relative;
    top: -5px;
}

@media only screen and (max-width: 991px) {
    .back-line {
        display: none;
    }
}

.content {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 90%;
    height: 100%;
    transform: translate(-50%, -50%);
    color: #000;
}

.overlay {
    position: absolute;
    top: 0px;
    border: 1px solid lightgray;
    left: 0px;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    transition: .5s ease;
    background: rgb(255, 255, 255);
    overflow: hidden;
}

.overlay:hover {
    opacity: 1;
}

.footer
{
    margin-top: 150px;
    background: #b3aeab !important;
}


.payment
{
    margin: 50px auto;

}

.payment img
{
    width: 300px;
    cursor: pointer;
}

.insta-img
{
    margin: 50px auto;
}

.insta-img img
{
    width: 300px;
    cursor: pointer;
}

.app-download
{
    margin: 50px auto;
}

.app-download img
{
    width: 200px;
}

.footer h5
{
    margin-bottom: 50px;
}
.footer h5::before
{
    content: '';
    width: 70px;
    height: 3px;
    background: red;
    top: 85px;
    position: absolute;
}

.footer-icons
{
    text-align: right;
}

.footer-icons .fa
{
    margin: 0 10px auto;
    font-size: 20px;
    cursor: pointer;
}


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}


/* .nav-item{
  height: 100px !important;
} */





/*
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
} */

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* .hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
} */

.hovereffect .info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* .hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
} */

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

/* .hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
} */

.hovereffect:hover .info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(33px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.howtovote{
  background-color: #2E3853;
}
.advantages__img{
  width: 350px;
  height: 200px;
  object-fit: cover;
}
